node-red/node-red-v1.json
[
    {
        "id": "869500685a277911",
        "type": "tab",
        "label": "SAP-Community-Kolkata",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6f5c73111da8e344",
        "type": "oauth2",
        "z": "869500685a277911",
        "name": "",
        "container": "auth",
        "grant_type": "client_credentials",
        "access_token_url": "https://afa6fcfftrial.authentication.us10.hana.ondemand.com/oauth/token",
        "authorization_endpoint": "",
        "redirect_uri": "/oauth2/redirect_uri",
        "open_authentication": "",
        "username": "",
        "password": "",
        "client_id": "sb-b4397b5c-9382-4f11-9d17-ae68b3da8503!b172326|document-translation-us10!b1112",
        "client_secret": "d454d2b0-cc62-4491-8150-22c6bcd67b25$7iokzIss0-wTExZANP_DFVuFl0nQKkB6-CF1UAsNWH0=",
        "scope": "",
        "proxy": "",
        "senderr": false,
        "client_credentials_in_body": false,
        "rejectUnauthorized": true,
        "headers": {},
        "x": 310,
        "y": 80,
        "wires": [
            [
                "854801956ae998a7"
            ]
        ]
    },
    {
        "id": "35cf36103958ecde",
        "type": "inject",
        "z": "869500685a277911",
        "name": "Text Translation",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 80,
        "wires": [
            [
                "6f5c73111da8e344"
            ]
        ]
    },
    {
        "id": "82e9940a49950dab",
        "type": "debug",
        "z": "869500685a277911",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 80,
        "wires": []
    },
    {
        "id": "06ee5d7fa96b1d96",
        "type": "http request",
        "z": "869500685a277911",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://document-translation.api.us10.translationhub.cloud.sap/api/v1/translation?strictMode=false&targetLanguage=de-DE&sourceLanguage=en-US",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Authorization",
                "keyValue": "",
                "valueType": "msg",
                "valueValue": "auth"
            }
        ],
        "x": 610,
        "y": 80,
        "wires": [
            [
                "82e9940a49950dab"
            ]
        ]
    },
    {
        "id": "854801956ae998a7",
        "type": "function",
        "z": "869500685a277911",
        "name": "function 14",
        "func": "msg.auth = 'Bearer ' + msg.auth.access_token;\nmsg.payload = {\n   \"sourceLanguage\": \"en-US\",\n   \"targetLanguage\": \"de-DE\",\n   \"contentType\": \"text/html\",\n   \"encoding\": \"plain\",\n   \"strictMode\": \"false\",\n   \"data\": \"For encoding: \\\"plain\\\": \\\"<div>Encode the <strong>business</strong> data as <em>JSON</em></div>\\\" and for encoding: \\\"base64\\\": \\\"PGRpdj5FbmNvZGUgdGhlIDxzdHJvbmc+YnVzaW5lc3M8L3N0cm9uZz4gZGF0YSBhcyA8ZW0+SlNPTjwvZW0+PC9kaXY+Cg==\\\"\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 450,
        "y": 80,
        "wires": [
            [
                "06ee5d7fa96b1d96"
            ]
        ]
    },
    {
        "id": "c2720ecc4023179c",
        "type": "inject",
        "z": "869500685a277911",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "00935202fd43af90"
            ]
        ]
    },
    {
        "id": "eec38028baea2ed5",
        "type": "http in",
        "z": "869500685a277911",
        "name": "",
        "url": "/check_unread_email",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "00935202fd43af90"
            ]
        ]
    },
    {
        "id": "bb8eedc75260ce50",
        "type": "function",
        "z": "869500685a277911",
        "name": "",
        "func": "var customerpo = 0;\nvar lowsubject = msg.topic.toLowerCase();\nvar indexs = 0;\n\nmsg.lowsubject = lowsubject;\n\nindexs = lowsubject.search(\"purchase\");\n\nif(indexs >= 0){\n    customerpo = 1;\n}\n\nif((customerpo) && (msg.attachments.length)){\n    var filename = msg.attachments[0].filename;\n    var filecontent = msg.attachments[0].content;\n}\nmsg.indexs = indexs;\nmsg.customerpo = customerpo;\nmsg.filecontent = filecontent;\nmsg.filename = filename;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 180,
        "wires": [
            [
                "5a6b26a4c84fecb0"
            ]
        ]
    },
    {
        "id": "7b1fd4e9f4e4606d",
        "type": "file",
        "z": "869500685a277911",
        "name": "SaveFile",
        "filename": "fullfile",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 640,
        "y": 240,
        "wires": [
            [
                "6ac32548c0570c58"
            ]
        ]
    },
    {
        "id": "5a6b26a4c84fecb0",
        "type": "switch",
        "z": "869500685a277911",
        "name": "",
        "property": "customerpo",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "neq",
                "v": "1",
                "vt": "str"
            }
        ],
        "checkall": "false",
        "repair": false,
        "outputs": 2,
        "x": 330,
        "y": 240,
        "wires": [
            [
                "b3c5fadf20adb811"
            ],
            [
                "2d26c06a85b07464"
            ]
        ]
    },
    {
        "id": "2d26c06a85b07464",
        "type": "function",
        "z": "869500685a277911",
        "name": "",
        "func": "// msg = {};\nmsg.payload = \"This is not a Customer PO Email\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 400,
        "wires": [
            [
                "0e85aea13071bfd3"
            ]
        ]
    },
    {
        "id": "b3c5fadf20adb811",
        "type": "function",
        "z": "869500685a277911",
        "name": "",
        "func": "var filepath = './';\nmsg.fullfile = filepath + msg.filename;\nmsg.payload = msg.filecontent;\nmsg.topic = msg.topic;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 240,
        "wires": [
            [
                "7b1fd4e9f4e4606d"
            ]
        ]
    },
    {
        "id": "8afd2842be43d203",
        "type": "debug",
        "z": "869500685a277911",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 340,
        "wires": []
    },
    {
        "id": "6ac32548c0570c58",
        "type": "file in",
        "z": "869500685a277911",
        "name": "Read PDF File",
        "filename": "fullfile",
        "format": "",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "x": 820,
        "y": 240,
        "wires": [
            [
                "67920d1377aa0ebf"
            ]
        ]
    },
    {
        "id": "0e85aea13071bfd3",
        "type": "http response",
        "z": "869500685a277911",
        "name": "",
        "statusCode": "",
        "headers": {
            "content-type": "application/json"
        },
        "x": 1030,
        "y": 400,
        "wires": []
    },
    {
        "id": "00935202fd43af90",
        "type": "e-mail in",
        "z": "869500685a277911",
        "name": "",
        "protocol": "IMAP",
        "server": "imap.gmail.com",
        "useSSL": true,
        "autotls": "never",
        "port": "993",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "box": "INBOX",
        "disposition": "Read",
        "criteria": "UNSEEN",
        "repeat": "300",
        "fetch": "trigger",
        "inputs": 1,
        "x": 330,
        "y": 160,
        "wires": [
            [
                "bb8eedc75260ce50",
                "3b7a52aac9c035c3"
            ]
        ]
    },
    {
        "id": "67920d1377aa0ebf",
        "type": "function",
        "z": "869500685a277911",
        "name": "Create multipart/form-data",
        "func": "msg.headers = {\n    \"content-type\": \"multipart/form-data\",\n    \"x-api-key\":\"sec_777Xibue1OqnClJ8OT7qI8y71hwWvbpX\"\n}\n\nmsg.payload = {\n    \"file\": {\n        \"value\": msg.payload, //file buffer\n        \"options\": {\n            \"filename\": msg.filename\n        }\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 690,
        "y": 300,
        "wires": [
            [
                "12ddaae48faf1a63"
            ]
        ]
    },
    {
        "id": "12ddaae48faf1a63",
        "type": "http request",
        "z": "869500685a277911",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.chatpdf.com/v1/sources/add-file",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 340,
        "wires": [
            [
                "70e30a84aa3f5453"
            ]
        ]
    },
    {
        "id": "ff34e899.fef6f8",
        "type": "http in",
        "z": "869500685a277911",
        "name": "",
        "url": "/get_pdf_data",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 480,
        "wires": [
            [
                "b8cdd9c2.499c28"
            ]
        ]
    },
    {
        "id": "fb64026a.ca37e",
        "type": "http request",
        "z": "869500685a277911",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.chatpdf.com/v1/chats/message",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 480,
        "wires": [
            [
                "7de7745e.dcd35c"
            ]
        ]
    },
    {
        "id": "b8cdd9c2.499c28",
        "type": "function",
        "z": "869500685a277911",
        "name": "",
        "func": "\nmsg.headers = {\n    \"x-api-key\":\"sec_777Xibue1OqnClJ8OT7qI8y71hwWvbpX\"\n}\n\nmsg.payload = {\n  \"sourceId\": msg.req.query.sourceId,\n  \"messages\": [\n    {\n      \"role\": \"user\",\n      \"content\": \"Fill the below json, with values from the document. Also wrap json code output in <code></code>, without json beautifying - >\" +\n                 \"{ \\\"purchaseOrder\\\" : \\\"\\\", \"+\n                 \" \\\"purchaseOrderDate\\\" : \\\"\\\"\" +\n                 \" \\\"supplierDetails\\\": {\\\"name\\\": \\\"\\\",\\\"mobile\\\": \\\"\\\", \\\"email\\\": \\\"\\\", \\\"address\\\": \\\"\\\" },\" +\n                 \" \\\"billToDetails\\\"  : {\\\"name\\\": \\\"\\\",\\\"mobile\\\": \\\"\\\", \\\"email\\\": \\\"\\\", \\\"address\\\": \\\"\\\" },\" + \n                 \" \\\"paymentTerms\\\"   : \\\"\\\",\" + \n                 \" \\\"itemDetails\\\": [{\\\"quantity\\\": \\\"\\\",\\\"materialNumber\\\": \\\"\\\", \\\"unitPrice\\\":\\\"\\\", \\\"amount\\\": \\\"\\\"},\\\"materialDescription\\\":\\\"\\\"] }\"\n    }\n  ]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 480,
        "wires": [
            [
                "fb64026a.ca37e"
            ]
        ]
    },
    {
        "id": "d4923553.9d75e8",
        "type": "debug",
        "z": "869500685a277911",
        "name": "Full MSG",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 900,
        "y": 460,
        "wires": []
    },
    {
        "id": "6164584c.1a40f8",
        "type": "http response",
        "z": "869500685a277911",
        "name": "",
        "statusCode": "",
        "headers": {
            "Content-Type": "application/json"
        },
        "x": 890,
        "y": 520,
        "wires": []
    },
    {
        "id": "32139007.fca29",
        "type": "http in",
        "z": "869500685a277911",
        "name": "",
        "url": "/delete_pdf_file",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 560,
        "wires": [
            [
                "df650c.ca8a7af8"
            ]
        ]
    },
    {
        "id": "df650c.ca8a7af8",
        "type": "function",
        "z": "869500685a277911",
        "name": "",
        "func": "msg.headers = {\n    \"x-api-key\":\"sec_777Xibue1OqnClJ8OT7qI8y71hwWvbpX\"\n}\n\nmsg.payload = { \"sources\": [msg.req.query.sourceId] }\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 560,
        "wires": [
            [
                "b2b4f9c0.201078"
            ]
        ]
    },
    {
        "id": "50bbadfe.c634d4",
        "type": "debug",
        "z": "869500685a277911",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 600,
        "wires": []
    },
    {
        "id": "b2b4f9c0.201078",
        "type": "http request",
        "z": "869500685a277911",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.chatpdf.com/v1/sources/delete",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 520,
        "y": 560,
        "wires": [
            [
                "50bbadfe.c634d4",
                "3afceb49.b97984"
            ]
        ]
    },
    {
        "id": "3afceb49.b97984",
        "type": "http response",
        "z": "869500685a277911",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 700,
        "y": 560,
        "wires": []
    },
    {
        "id": "7de7745e.dcd35c",
        "type": "function",
        "z": "869500685a277911",
        "name": "",
        "func": "var mystring = msg.payload.content.toString();\nvar fromvalue = mystring.split(\"<code>\");\nvar tovalue = fromvalue[1].split(\"</code>\");\nmsg.payload = tovalue[0];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 480,
        "wires": [
            [
                "d4923553.9d75e8",
                "6d8da01b3dc2e52f"
            ]
        ]
    },
    {
        "id": "2608b4d8e2985ab6",
        "type": "simple-chatgpt",
        "z": "869500685a277911",
        "name": "",
        "Token": "XXXXXXXXXXXXXX",
        "Model": "",
        "SystemSetting": "Create a email body without any variables and within 100 words.",
        "functions": "",
        "functionsType": "str",
        "function_call": "auto",
        "function_callType": "str",
        "x": 560,
        "y": 760,
        "wires": [
            [
                "5cf645c133f20687",
                "564e4f6aede7eebb"
            ]
        ]
    },
    {
        "id": "6d8da01b3dc2e52f",
        "type": "json",
        "z": "869500685a277911",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 770,
        "y": 500,
        "wires": [
            [
                "6164584c.1a40f8"
            ]
        ]
    },
    {
        "id": "5cf645c133f20687",
        "type": "e-mail",
        "z": "869500685a277911",
        "server": "smtp.gmail.com",
        "port": "465",
        "authtype": "BASIC",
        "saslformat": true,
        "token": "oauth2Response.access_token",
        "secure": true,
        "tls": true,
        "name": "",
        "dname": "",
        "x": 790,
        "y": 760,
        "wires": []
    },
    {
        "id": "e907cc273c6fbf68",
        "type": "inject",
        "z": "869500685a277911",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 740,
        "wires": [
            [
                "8268f367e6372516"
            ]
        ]
    },
    {
        "id": "e7c6b01feb7a41d3",
        "type": "http in",
        "z": "869500685a277911",
        "name": "",
        "url": "/send_email",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 140,
        "y": 800,
        "wires": [
            [
                "8268f367e6372516"
            ]
        ]
    },
    {
        "id": "8268f367e6372516",
        "type": "function",
        "z": "869500685a277911",
        "name": "",
        "func": "// msg.headers = {\n//     \"x-api-key\":\"sec_777Xibue1OqnClJ8OT7qI8y71hwWvbpX\"\n// }\nvar emailto = msg.req.query.emailto;\nvar so = msg.req.query.so;\n\nmsg.to = emailto; // Send TO Email ID\nmsg.so = so; // Sales Order for Customer Reference\nmsg.payload = 'We have Created Sales Order number: ' \n            + so \n            + 'Starting with Hi Team, ' \n            + 'Ending with: ' + 'Regards, sabarnapass@gmail.com'\n            + 'If delay happens from our side. We will inform you'\nmsg.topic = 'Your Reference Sales Order:' + so;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 760,
        "wires": [
            [
                "2608b4d8e2985ab6"
            ]
        ]
    },
    {
        "id": "953cd84f5ce1b0df",
        "type": "http response",
        "z": "869500685a277911",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 830,
        "y": 860,
        "wires": []
    },
    {
        "id": "564e4f6aede7eebb",
        "type": "function",
        "z": "869500685a277911",
        "name": "Set HTTP body",
        "func": "msg.payload = {\n    'msg': 'Email Sent: ' + msg.to\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 860,
        "wires": [
            [
                "953cd84f5ce1b0df"
            ]
        ]
    },
    {
        "id": "3b7a52aac9c035c3",
        "type": "debug",
        "z": "869500685a277911",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 120,
        "wires": []
    },
    {
        "id": "70e30a84aa3f5453",
        "type": "function",
        "z": "869500685a277911",
        "name": "Set Output",
        "func": "var payload = {}\n\npayload = {\n    \"sourceId\": msg.payload.sourceId,\n    \"from\": msg.header.from.value[0].address\n}\n// msg = {};\nmsg.payload = payload;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 340,
        "wires": [
            [
                "0e85aea13071bfd3",
                "8afd2842be43d203"
            ]
        ]
    },
    {
        "id": "e879cdd525df7988",
        "type": "http in",
        "z": "869500685a277911",
        "name": "",
        "url": "/dummy_sales_order",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 150,
        "y": 660,
        "wires": [
            [
                "ca568fb803fddae7"
            ]
        ]
    },
    {
        "id": "d5131b3b38916466",
        "type": "function",
        "z": "869500685a277911",
        "name": "",
        "func": "msg.payload = {\n    \"so\": msg.payload\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 660,
        "wires": [
            [
                "989bc2f8996184e5",
                "6c1af9ab294c1f97"
            ]
        ]
    },
    {
        "id": "989bc2f8996184e5",
        "type": "http response",
        "z": "869500685a277911",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 770,
        "y": 660,
        "wires": []
    },
    {
        "id": "6c1af9ab294c1f97",
        "type": "debug",
        "z": "869500685a277911",
        "name": "debug 24",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 780,
        "y": 700,
        "wires": []
    },
    {
        "id": "ca568fb803fddae7",
        "type": "random",
        "z": "869500685a277911",
        "name": "",
        "low": "4000000000",
        "high": "4999999999",
        "inte": "true",
        "property": "payload",
        "x": 360,
        "y": 660,
        "wires": [
            [
                "d5131b3b38916466"
            ]
        ]
    }
]
